{{#ifCond meta.type 'itservices'}}
<aside class="lo-full padding-off">
<ol class="breadcrumb">
  <li><a href="#/it-tjenester">{{!--meta.title --}}Brukerstøtte for IT-tjenester</a></li>
    {{#if meta.id}}<li class="active"><a href="#/it-tjenester/{{meta.id}}">{{meta.pagetitle}}</a></li>{{/if}}
</ol>
</aside>
{{/ifCond}}
