{{#ifCond meta.type 'itservices'}}
<ol class="breadcrumb">
  <li><a href="#/it-tjenester">{{!--meta.title --}}Brukerstøtte for IT-tjenester</a></li>
    {{#if meta.id}}<li class="active"><a href="#/it-tjenester/{{meta.id}}">Mer om {{meta.pagetitle}}</a></li>{{/if}}
</ol>
{{/ifCond}}
