<header class="lo-full">
  <h1>{{meta.title}}</h1>
</header>

{{#each itservice}}
<article class="lo-one-third itservices-item">
    <header>
        <a href="#/it-tjenester/{{pageId}}">
            <h1>{{capitalizeFirstLetter name}}</h1>
        </a>
    </header>
</article>
{{/each}}
<hr style="width: 100%;" />

