{{#if meta.support}}
  <aside clasS="lo-full padding-off">
  <ul class="itservices-support">
    {{#each meta.support}}
    <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}
    <li>Fredrikstad, ved biblioteket, rom H423: 69 60 88 50</li>
    <li>Halden, i biblioteket: 69 60 80 50</li>
  </ul>
  </aside>
{{/if}}
