{{#if meta.support}}
  <aside clasS="lo-full padding-off">
  <ul class="itservices-support">
    {{#each meta.support}}
    <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}
    <li>Fredrikstad, rom H404: 69 10 41 14</li>
    <li>Halden, i biblioteket: 69 21 52 25</li>
  </ul>
  </aside>
{{/if}}
